@model mission8.Models.EditTask

<h2>Edit Task</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="TaskId" />

    <label>Task Name</label>
    <input asp-for="TaskName" class="form-control" />

    <label>Due Date</label>
    <input asp-for="DueDate" class="form-control" type="date" />

    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" required>

            <option value="1">Home</option>
            <option value="2">School</option>
            <option value="3">Work</option>
            <option value="4">Church</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <label>Quadrant</label>
    <select asp-for="Quadrant" class="form-control" required>

        <option value="1">Quadrant 1 - Urgent & Important</option>
        <option value="2">Quadrant 2 - Not Urgent but Important</option>
        <option value="3">Quadrant 3 - Urgent but Not Important</option>
        <option value="4">Quadrant 4 - Not Urgent & Not Important</option>
    </select>

    <label>Completed</label>
    <input asp-for="Completed" type="checkbox" />

    <button type="submit" class="btn btn-primary">Save</button>
</form>
